body {
    font-family: "TASA Explorer", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #333;
    background-color: #FAFBF9;
    max-width: 800px;
    margin-inline: auto;
    padding: 0 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #C3D4C6;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2rem;
}

strong {
    font-weight: 600;
}

nav {
    border-top: 2px solid #C3D4C6;
    border-bottom: 2px solid #C3D4C6;
    padding: 10px 0;
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

nav ul li {
    display: inline-block;
    margin-right: 15px; 
}

nav ul li a {
    color: #4F6F64; 
    font-weight:600;
    font-size: 1.1rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: #C3D4C6;
}

img {
    width: 250px;
    object-fit: cover;
    border: 6px solid #C3D4C6;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #C3D4C6;
}

th, td {
    padding: 10px;
    text-align: left;
}

address a {
    color: #333;
}

address a:hover {
    color: #C3D4C6;
}